@import "tailwindcss";

a:link {
    text-decoration: none;
}

ul{
    margin-bottom: 0;
    padding: 0;
}

button{
    padding: 4px 0px;
    margin:0px;
}

@media (min-width: 768px) {
  .md-top-extraDistance {
    top: var(--extra-distance, 0px);
    position: relative;
  }
}



